{
  "swagger": "2.0",
  "info": {
    "title": "PersonA API",
    "description": "2024-SUMMER-BOOTCAMP-TEAM-A",
    "version": "1.0.0"
  },
  "host": "person-a.site",
  "basePath": "/",
  "tags": [
    {
      "name": "person",
      "description": "Person 관련 API"
    },
    {
      "name": "user",
      "description": "User 관련 API"
    },
    {
      "name": "AI",
      "description": "AI 관련 API"
    },
    {
      "name": "userSelection",
      "description": "UserSelection 관련 API"
    }
  ],
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "Bearer": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header",
      "description": "Bearer JWT 토큰을 사용한 인증. 예시: \"Bearer {token}\""
    }
  },
  "paths": {
    "/": {
      "get": {
        "description": "",
        "tags": ["AI"],
        "responses": {
          "200": {
            "description": "성공"
          }
        }
      }
    },
    "/api/v1/persons/": {
      "get": {
        "description": "",
        "tags": ["person"],
        "responses": {
          "200": {
            "description": "성공"
          },
          "500": {
            "description": "내부 서버 오류"
          }
        }
      }
    },
    "/api/v1/persons/{id}": {
      "get": {
        "description": "",
        "tags": ["person"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "성공"
          },
          "404": {
            "description": "찾을 수 없음"
          },
          "500": {
            "description": "내부 서버 오류"
          }
        }
      }
    },
    "/api/v1/persons/name/{id}": {
      "get": {
        "description": "",
        "tags": ["person"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "성공"
          },
          "404": {
            "description": "찾을 수 없음"
          },
          "500": {
            "description": "내부 서버 오류"
          }
        }
      }
    },
    "/api/v1/persons/records/counts": {
      "get": {
        "description": "",
        "tags": ["person"],
        "responses": {
          "200": {
            "description": "성공"
          },
          "500": {
            "description": "내부 서버 오류"
          }
        }
      }
    },
    "/api/v1/users/signup": {
      "post": {
        "description": "",
        "tags": ["user"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "example": "any"
                },
                "password": {
                  "example": "any"
                },
                "nickname": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "작성됨"
          },
          "400": {
            "description": "잘못된 요청"
          },
          "500": {
            "description": "내부 서버 오류"
          }
        }
      }
    },
    "/api/v1/users/login": {
      "post": {
        "description": "",
        "tags": ["user"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "example": "any"
                },
                "password": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "성공"
          },
          "401": {
            "description": "권한 없음"
          },
          "500": {
            "description": "내부 서버 오류"
          }
        }
      }
    },
    "/api/v1/users/nickname": {
      "get": {
        "description": "",
        "tags": ["user"],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/v1/users/refresh": {
      "post": {
        "description": "",
        "tags": ["user"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "token": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "성공"
          },
          "401": {
            "description": "권한 없음"
          },
          "500": {
            "description": "내부 서버 오류"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/ai/chat": {
      "post": {
        "description": "",
        "tags": ["AI"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "userMessage": {
                  "example": "any"
                },
                "persona": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "성공"
          },
          "400": {
            "description": "잘못된 요청"
          },
          "500": {
            "description": "내부 서버 오류"
          }
        }
      }
    },
    "/ai/reset": {
      "post": {
        "description": "",
        "tags": ["AI"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "persona": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "성공"
          },
          "500": {
            "description": "내부 서버 오류"
          }
        }
      }
    },
    "/api/v1/logs/summary": {
      "post": {
        "description": "",
        "tags": ["AI"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "chatLogId": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "성공"
          },
          "400": {
            "description": "잘못된 요청"
          },
          "500": {
            "description": "내부 서버 오류"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/v1/logs/summary/{summaryLogId}": {
      "get": {
        "description": "",
        "tags": ["AI"],
        "parameters": [
          {
            "name": "chatLogId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "성공"
          },
          "400": {
            "description": "잘못된 요청"
          },
          "404": {
            "description": "찾을 수 없음"
          },
          "500": {
            "description": "내부 서버 오류"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/v1/logs/getUpload": {
      "get": {
        "description": "",
        "tags": ["AI"],
        "parameters": [
          {
            "name": "fileName",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "성공"
          },
          "400": {
            "description": "잘못된 요청"
          },
          "500": {
            "description": "내부 서버 오류"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/v1/userSelections/": {
      "post": {
        "description": "",
        "tags": ["userSelection"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "personId": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "작성됨"
          },
          "500": {
            "description": "내부 서버 오류"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/api/v1/userSelections/chatLogs": {
      "post": {
        "description": "",
        "tags": ["userSelection"],
        "responses": {
          "201": {
            "description": "작성됨"
          },
          "404": {
            "description": "찾을 수 없음"
          },
          "500": {
            "description": "내부 서버 오류"
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    }
  }
}
